.donut-inner {
    margin-top: -100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 2px;
  }
  .donut-inner h5 {
    font-size: 32px;
    margin-bottom: 2px;
    margin-top: 2px;
    /* margin-left: 50px; */
  }
  .donut-inner span {
    font-size: 10px;
    font-weight: 700;
    /* margin-left: 35px; */
  }