.container{
    background-color: #ffffff;
    font-family: Roboto;
     height: 25%;
    display: flex;
    flex-direction: row;
   
}
.leftSection{
    margin-left: 90px;
}
.heading{
    font-family: Roboto;
    font-weight: 700;
    font-size: 26px;
    line-height: 30.47px;
    color: #4E4E4E;
   margin-top: 30px;
}

.SecondSection{
  background-color: #F0F0F0;
    height: 25%;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    justify-content: space-between;
}
.lineChartSection{
  background-color: #ffffff;
  width:"50%";
 
}
.errorSection{
  background-color: #ffffff;
  width:"30%";
 
}
.font20{
    font-size: 32px;
    color: #073170;
    line-height: 37.5px;
    font-family: Roboto;
    font-weight: 700;
}
.per20{
    font-size: 11px;
   color: #37812C;
   margin-top: 28px;
   margin-left: 5px; 
  line-height: 37.5px;
  font-family: Roboto;
}
.selection{
    font-weight: 400;
    font-size: 13px;
    color: #747EA0;
    line-height: 15.23px;
    font-family: Roboto;
}



  .pie {
    --p:10;
    --b:10px;
    --c:darkblue;
    --w:150px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }